body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;

  /* Google Font */
  font-family: "Raleway", sans-serif;
}

body {
  background-color: #f3f3f3;
}

#main {
  margin: 0 5%;
  -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,0.48), 0 0 2px 0 rgba(0,0,0,0.36);
  -moz-box-shadow: 0 0 0 0 rgba(0,0,0,0.48), 0 0 2px 0 rgba(0,0,0,0.36);
  box-shadow: 0 0 0 0 rgba(0,0,0,0.48), 0 0 2px 0 rgba(0,0,0,0.36);
}


/* Navbar */
/* Responsive navbar developed with help from sitepoint and Stack Overflow */
.navbar {
  width: 100%;
  background-color: #333;
}

.nav-list {
  overflow: hidden;
  text-align: center;
}

.nav-link {
  list-style-type: none;
  float: left;
  width: 33.333333%;
}

.nav-link a {
  padding: 16px 0;
  font-size: 18px;
  color: #fff;
}
.nav-link a:hover {
  background-color: #000;
}


/* Header */
#header,
.footer {
  background-color: #2c3c49;
}

.center-content {
  padding: 22px 27.5px 25px;
}

.clear-fix {
  overflow: auto;
}

h1 {
  font-size: 50px;
  color: #fff;
  line-height: 48px;
  display: inline;
}

span {
  padding: 5px;
}

.role {
  padding: 8px;
  font-size: 1.5em;
  color: #ffcc00;
}

hr {
  border: 0;
  border-top: 1px solid #fff;
}

ul {
  list-style-type: none;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 7px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 7px 7px 0;

}

.contact-item {
  line-height: 30px;
}

.orange-text {
  color: #ffcc00;
  font-weight: 600;
}

.white-text {
  color: #fff;
}

.biopic {
  float: left;
  margin: 7px 16px 0 0;
  padding: 10px;
  width: 200px;
  background-color: #fff;
  display: none;
}

.welcome-message {
  padding-left: 0;
  font-style: italic;
  font-size: 18px;
  color: #f3f3f3;
  line-height: 28px;
}

h3 {
  font-size: 22px;
  color: #000;
  line-height: 24px;
}

#skills-h3 {
  color: #ffcc00;
  font-weight: 600;
  display: none;
  text-align: left;
}

.extra-padding {
  padding: 10px 0;
}

.skill-item {
  padding-bottom: 10px;
}

.skill-item:last-of-type {
  padding-bottom: 0;
}


/* Main content divs */
.white {
  background-color: #fff;
  border-top: 1px solid rgba(0,0,0,0.16);
  border-bottom: 1px solid rgba(0,0,0,0.16);
}

.center-div {
  padding: 22px 27.5px;
}

h2 {
  font-weight: bold;
  font-size: 30px;
  color: #333;
  line-height: 29px;
}

.work-entry, .project-entry, .education-entry {
  padding: 15px 0;
  border-bottom: 1px solid rgba(0,0,0,0.16);
}

.work-entry:last-of-type, .project-entry:last-of-type, .education-entry:last-of-type {
  padding-bottom: 0;
  border-bottom: none;
}

a {
  color: #1199c3;
  text-decoration: none;
  display: block;
}

.entry-title {
  margin-bottom: 5px;
  font-size: 18px;
  line-height: 25px
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: right;
}

.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: left;
}

p {
  font-size: 18px;
  color: #333;
  line-height: 28px;
}

img {
  padding: 10px 10px 5px;
  width: 300px;
  max-width: 100%;
}

.online-classes {
  padding-top: 15px;
  color: #333;
}

.url {
  overflow-wrap: break-word;
}

.map-heading {
  margin-bottom: 15px;
}

#mapDiv {
  height: 400px;
}

#map {
  display: block;
  height: 100%;
}


/* Footer */
#lets-connect {
  text-align: center;
}


/* Media queries to handle various device widths */
@media only screen and (min-width: 1200px) {
  #main {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width:900px) {
  #main {
    margin: 0 2.5%;
  }

  h1,
  .role {
    display: block;
  }

  h1,
  .role,
  h2,
  h3 {
    text-align: center;
  }

  img {
    display: block;
    margin: 0 auto;
    padding: 10px 0 5px;
  }

  .location-text,
  .date-text {
    float: none;
    padding-bottom: 5px;
  }

  p {
    padding-top: 5px;
  }

  br {
    display: none;
  }

  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  .biopic {
    width: 150px;
  }

  .welcome-message {
    display: none;
  }
}

@media only screen and (min-width: 750px) {
  #skills-h3,
  .biopic {
    display: block;
  }
}

@media only screen and (min-width: 600px) and (max-width: 749px) {
  .center-content {
    padding-bottom: 20px;
  }  

  #skills {
    line-height: 30px;
  }

  .flex-column {
    display: block;
    padding: 0;
  }

  .skill-item {
    display: inline;
    padding-bottom: 0;
    padding-right: 8px;
  }
}

@media only screen and (max-width: 749px) {
  /* Makes biopic visible at smaller viewports */
/*  .biopic {
    display: block;
    margin: 7px auto 10px;
    float: none;
  }*/

   #skills {
    text-align: center;
  }


}

@media only screen and (max-width: 500px) {
  .nav-link a {
    font-size: 14px;
  }

  .center-content,
  .center-div {
    padding: 4% 4.5%;
  }

  .online-classes {
    padding-top: 4.4%
  }

  .map-heading {
    margin-bottom: 4.4%;
  }
}